/* @theme mystyle */

/*
  ============================================
    Created by Florian Atteneder
    last update: January, 2022
  ============================================       
*/

@import "default";
@import "schema";
@import "structure";

/***************** COMMON STRUCTURE **********************/

:root {
  font-family: ;
  /* font-family: Cochin, Georgia, Times, 'Times New Roman'; */
  font-weight: initial;
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}

section.titlepage {
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

section {
  /* background-image: linear-gradient(180deg,  */
  /*                       var(--unijena-white) 91%,  */
  /*                       var(--unijena-orange) 91%,  */
  /*                       var(--unijena-orange) 92%, */
  /*                       var(--unijena-blue) 92%,  */
  /*                       var(--unijena-blue) 100%); */
  justify-content: flex-start;
  padding-top: 2%;
  padding-bottom: 0%;
  padding-left: 2%;
  padding-right: 2%;
}

section::after {
  bottom: 2%;
  right: 2%;
}
