/* @theme schema */

/* Last update: 30.dez.2021 */

/* -------------------- ROOT ----------------------------------*/
:root {

    --unijena-white             : rgba(255,255,255,1);
    --unijena-orange            : rgba(220,101,19,1);
    --unijena-blue              : rgba(0,38,114,1);
    --unijena-background        : linear-gradient(90deg, 
                                    var(--unijena-blue) 0%, var(--unijena-blue) 80%, 
                                    var(--unijena-orange) 80%, var(--unijena-orange) 100%);


    --h1-color                  : black;
    --title-color               : var(--h1-color);
    --border-color              : rgba(220,101,19,1);


    --bold-color                : rgb(175, 56, 20);
    --italic-color              : black;
    --italic-background-color   : rgba(255, 210, 8, 0.713);

    --background-color          : var(--unijena-white);

    --list-item-color           : rgb(50, 56, 56);
    --after-color               : rgb(255, 39, 1);

    --table-header-color        : rgb(0, 132, 255);
    
    --main-color                : rgb(207, 77, 17);
    --darker-color              : #246;
    --lighter-color             : #080a0a;
    --extra-back-color          : rgb(175, 172, 173);

    --letter-spacing            : 0.125px;

    --cool-list-color           : orangered;

    --author-align              : right;



}

/* -------------------- TRANSITION ---------------------------------*/
section.transition {
    --transitionpage-color  : orangered;
}

/* -------------------- BIBLIO -------------------------------*/
section.biblio {
    --text-color            : white;
    --background-color      : rgb(11, 50, 175);
    --border-color          : darkorange;
    --bold-color            : orange;
}

/* ------------------- TITLEPAGE -----------------------------*/
section.titlepage {
    
    /* fonts sizes */
    --title-size            : 150%;
    --subtitle-size         : 110%;
    --author-size           : 110%;
    --date-size             : 110%;
    --institute-size        : 90%;

    --letter-spacing        : 0.125px;

    /* font weights */
    --title-font-weight     : 600;
    --subtitle-font-weight  : 600;

    /* colors in style */
    /* --title-color       : #002b36; */
    
    /* --subtitle-color    : #586e75; */
    --subtitle-color    : #93a1a1;

    --titlepage-color   : #242d31;
    --background-color  : #faf7f7;

    --border-color      : #f0cf9e; 
    --border-color      : #b5c9ee;
    --border-color      : #8aa6da;
    --border-color      : #6c71c4;
    --border-color      : #e99211;

}

/* ------------------- CITE -----------------------------*/
section.cite {
    --background-color    : #fdf6e3;;
    --strong-color        : rgb(182, 112, 27);
}
