/* @theme structure */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.5
    last update: 30.dez.2021
  ============================================

    You may use freely (MIT license) provided  
    due credits are granted to the authors. 

    CLASSES:
        
        <!-- _class: biblio           -->
        <!-- _class: blockquote       -->
        <!-- _class: cite             -->
        <!-- _class: columns          -->
        <!-- _class: columns-center   -->
        <!-- _class: table            -->
        <!-- _class: transition       -->
        <!-- _class: titlepage        -->

*/

/***************** COMMON STRUCTURE **********************/

h1 {
  color: var(--h1-color);
  border-bottom: 1px solid;
  border-color: var(--unijena-orange);
  /* border-image: var(--unijena-background) 1; */
}

section p {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  line-height: 1.3em;
  font-size: 32px;
}

section li {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  line-height: 1.25em;
  font-size: 105%;
  color: val(--list-item-color);
}

/* Definition for emphasis */
section em {
  color: var(--italic-color);
  background: var(--italic-background-color);
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
}

/* Definition for bold text */
section strong {
  color: var(--bold-color);
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
}

/* May append some string to page number     */
/* Uses format "page-number / total pages" */

section::after {
  color: #FFFFFF;
  font-size: 0.7em;
  content: " " attr(data-marpit-pagination) " / "
    attr(data-marpit-pagination-total) " ";
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 24px;
}

/* 
   Tables are always centered.
   Credits: Juan Vera del Campo 
   Loco:   https://github.com/Juanvvc
   
*/
section table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: auto;
  border: 0;
}
section table th {
  background-color: var(--table-header-color);
  color: white;
  border: 0;
  border-top: rgb(253, 74, 3) solid 2px;
  border-top: rgb(255, 0, 0) solid 2px;
}
section table td {
  border: 0;
}
section table tr:nth-child(2) {
  background-color: #dedede;
}
section table tr:last-child {
  border-bottom: rgb(253, 74, 3) solid 2px;
}

tr:nth-child(even) {
  background-color: #e8edf1 !important;
}
tr:hover {
  color: rgb(36, 34, 34);
  background-color: rgb(255,204,0);
  font-weight: bold;
}

/* 
  Block quote: used for footnote
  substitution. Use as the last  
  element of a slide.
*/
section blockquote {
  color: rgb(66, 66, 66);
  font-size: unset;
  border-top: 0.1em dashed var(--extra-back-color);
  margin-top: auto;
}

section blockquote strong {
  color: rgb(56, 32, 32);
  font-weight: bold;
  font-size: 1.0em;
}

section blockquote p {
  font-size: 0.7em;
}
/* 
  Adds two-columns class 
*/
.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  /* justify-content: center !important; */
}

/* 
  Adds two-columns with centered contens class 
*/
.columns-center {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

/******************* TITLEPAGE *************************/
/* 
    Title Page Class: first slide in a deck.
    
    Use: 
    
    <!-- _class: titlepage --> 

    # TTILE
    ## SUBTITLE
    ### AUTHOR
    #### DATE
    ##### INSTITUTION
*/

section.titlepage {
  background-color: var(--background-color);
}

/* 
  Titlepage informations 
*/
section.titlepage .title {
  font-size: var(--title-size);
  font-weight: var(--title-font-weight);
  color: var(--title-color);
  border-bottom: 1px solid var(--border-color);
  line-height: 1.25;
  padding-bottom: 15px;
  padding-right: 20%;
}
section.titlepage .subtitle {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-font-weight);
  line-height: 1.2;
  color: var(--subtitle-color);
  padding-top: 10px;
  padding-bottom: 120px;
  letter-spacing: var(--letter-spacing);
}
section.titlepage .author {
  font-size: var(--author-size);
}
section.titlepage .date {
  font-size: var(--date-size);
}
section.titlepage .organization {
  font-size: var(--institute-size);
}
section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  font-weight: 400;
  text-align: right;
  color: var(--titlepage-color);
  line-height: 1.25;
}
section.titlepage h3,
section.titlepage h4,
section.titlepage h5 {
  font-weight: 400;
  text-align: right; 
  color: var(--titlepage-color);
  line-height: 0;
  letter-spacing: var(--letter-spacing);
}

section.titlepage h1 {
  font-size: var(--title-size);
  font-weight: var(--title-font-weight);
  text-align: left;
  color: var(--title-color);
  border-bottom: 1px solid var(--border-color);
  line-height: 1.25;
  padding-right: 20%;
}
section.titlepage h2 {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-font-weight);
  text-align: left;
  color: var(--subtitle-color);
  letter-spacing: var(--letter-spacing);
  line-height: 1.2;
  margin-top: -0.2em;
  padding-bottom: 95px;
}
section.titlepage h3 {
  font-size: var(--author-size);
}
section.titlepage h4 {
  font-size: var(--date-size);
}
section.titlepage h5 {
  font-size: var(--institute-size);
}

/* Omits page number in Title Page Slide */
section.titlepage footer,
section.titlepage header,
section.titlepage:after {
  /* hide header, footer and pagination */
  display: none;
}

/************************* transition *****************************/
/* 
    transition class: first slide in a section. Use h1 as header.
    Use: 
    
    <!-- _class: transition --> 

    # Header
   
*/
section.transition {
  background-color: var(--transitionpage-color);
  text-align: center !important;
  font-weight: bold !important;
  color: white;
  padding-top: auto;
  padding-buttom: auto;
}
section.transition h1,
section.transition h2,
section.transition p,
section.transition a {
  color: white;
  font-size: 200%;
  border-bottom: none;
}
section.transition footer,
section.transition header,
section.transition:after {
  /* hide header, footer and pagination */
  display: none;
}

/************************* CITE *****************************/
/* 
    cite class: slide containg a citation 
    
    Use: 
    
    <!-- _class: cite --> 

    Text

*/
section.cite {
  background-color: var(--background-color);
}

section.cite p {
  color: black;
  background-color: ;
  letter-spacing: var(--letter-spacing);
  font-size: 150%;
  text-align: center;
  line-height: 1.25em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /*  font-style: oblique; */
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 100px;
  padding-right: 100px;
}

section.cite strong {
  color: var(--strong-color);
}

/* Omits page number in Title Page Slide */
section.cite footer,
section.cite header,
section.cite:after {
  /* hide header, footer and pagination */
  display: none;
}

/************************* BIBLIO *****************************/
/* 
    slides containg bibliography
    Use: 
    
    <!-- _class: biblio --> 
    # References

    1. Item one
    2. Item two

*/

section.biblio {
  background-color: var(--background-color);
}
section.biblio p {
  color: var(--text-color);
  font-size: 90%;
  font-weight: 300;
  padding-left: 5px;
}
section.biblio h1 {
  font-size: 35px;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}
section.biblio strong {
  color: var(--bold-color);
}
section.biblio a {
  font-size: 31px;
  font-weight: bold;
  color: var(--bold-color);
}
section.biblio li {
  color: var(--text-color);
}
section.biblio footer,
section.biblio header,
section.biblio:after {
  /* hide header, footer and pagination */
  display: none;
}

/***************** WHITE BACKGROUND **********************/

section.white-background {
  background: none;
  background-color: #FFFFFF;
}

/* [>**************** FOOTER *********************<] */
/* section footer { */
/*   background-image: var(--unijena-background) */
/* } */
